.container h1 {
    color: #007bff;
    font-weight: bold;
  }
  
  .badge {
    font-size: 1rem;
  }
  
  .table {
    margin-bottom: 0;
  }
  
  .list-group-item {
    font-size: 1.1rem;
  }
  
  button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  


  .wallet-balance {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .balance-display {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  button {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    font-weight: bold;
    color: #565a5e;
  }

  h1 {
    font-size: 2rem;
    color: #007bff;
  }
  
/* ///////////////////////////////////////// */

  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .alert {
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 15px;
  }
  
  .list-group-item {
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
  }
  
  .badge {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
  
  h1 {
    font-size: 2rem;
    color: #007bff;
  }
  
  .card-header {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  h1 {
    font-size: 2rem;
    color: #007bff;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
  }


  .faq-section {
    margin-bottom: 30px;
  }
  
  .faq-item {
    margin-bottom: 15px;
  }
  
  .text-danger {
   color: red;
  }
  
  .text-success {
    color: green;
  }
  
  .contact-form-section {
    border: 1px solid #1f0505;
    padding: 20px;
    border-radius: 5px;
    background-color: #290505;
  }
